@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.gradient-text{
  background: var(--gradient_2, linear-gradient(109deg, #FBDA61 0%, rgba(255, 90, 205, 0.84) 86.08%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


::-webkit-scrollbar {
  width: 0px;
  
}


::-webkit-scrollbar-track {
 background: var(--background);
}


::-webkit-scrollbar-thumb {
  background: #8892B0;
  border-radius: 10px;
  
}